
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Montserrat, sans-serif;
  scroll-behavior: smooth;
}

#main {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  width: 160px;
  height: 100vh;
  position: fixed;
  left: 0;
  z-index: 99999;
  overflow: scroll
}

.sidebar li {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid rgba(204, 204, 204, 0.26);
  background-color: #fff;
}

.sidebar li:hover {
  background-color: red;
  cursor: pointer;
}


.content {
  width: 100%;
  height: 100vh;
  /* background: url('https://source.unsplash.com/1920x1080/?landscape,nature') no-repeat center/cover; */
  position: relative;
  overflow: hidden;
}

.content .blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(143, 136, 136, 0.475);
}

.search-place {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999;
}

.search-place input {
  width: 260px;
  height: 40px;
  border-radius: 50px;
  padding: 0 16px;
  font-size: 16px;
  outline: none;
  border: none;
  background-color: rgba(244, 238, 238, 0.516);
  color: #fff;
}

.btn-search {
  border: none;
  background: none;
  vertical-align: middle;
  padding: 0 8px;
  cursor: pointer;
}

.btn-search img {
  width: 26px;
}

.content .mainday {
  width: 100%;
  height: 70vh;
  padding: 150px 200px;
  /* margin-left: 50px; */
  position: absolute;
  z-index: 9999;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainday .place {
  text-transform: uppercase;
}

.mainday .date {
  padding: 16px 0;
}

.mainday .hour {
  font-size: 60px
}

.mainday .info-wethear {
  width: 33.33%;
  font-size: 20px;
  text-align: center;
}

.mainday .mainday-desc {
  width: 33.33%;
}

.mainday .wethear-desc {
  margin: 8px 0;
}

.mainday .wethear-uv {
  margin: 8px 0;
}

.mainday .icon-mainday {
  padding: 16px 0;
}

.mainday .icon-mainday img {
  display: block;
  margin: auto;
  width: 160px;
}

.content .nextdays {
  /* width: calc(100% - 160px); */
  width: 100%;
  height: 30vh;
  position: fixed;
  /* margin-left: 160px; */
  bottom: 0;
  background-color: #2a3347eb;
  display: flex;
  justify-content: space-around;
}

.nextdays .nextday-info {
  width: 20%;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.nextdays .nextday-info .desc {
  min-height: 42px;
  max-height: 46px;
  display: table;
}

.nextdays .nextday-info p {
  vertical-align: middle;
  display: table-cell;
}

.nextdays .nextday-info .icon img {
  width: 50px;
}


@media only screen and (min-width: 1024px) {
  .content .nextdays {
    height: 30vh;
  }
  .content .mainday {
    height: 70vh;
  }
}
@media only screen and (min-width: 740px) and (max-width:1023px) {
  .content .nextdays {
    height: 28vh;
  }

  .content .mainday {
    padding: 150px 60px;
    height: 72vh;
  }

  .mainday .icon-mainday img {
    width: 130px;
  }

  .mainday .mainday-desc {
    padding-left: 26px;
  }

  .mainday .mainday-desc h1 {
    font-size: 26px;
  }

  .search-place {
    top: 40px;
  }

  .mainday .info-wethear {
    font-size: 18px;
  }

  .nextdays .nextday-info .icon img {
    width: 40px;
  }

  .nextdays .nextday-info {
    padding: 12px;
  }

  .nextday-info .hourforecast,
  .nextday-info .temp {
    font-size: 18px;
  }

  .nextday-info .desc {
    font-size: 14px;
  }
}

@media only screen and (max-width: 739px) {
  .search-place input {
    width: 230px;
  }

  .content .mainday {
    padding: 40px;
  }

  .mainday .mainday-desc {
    font-size: 14px;
  }

  .mainday .hour {
    font-size: 40px;
  }

  .mainday .icon-mainday img {
    width: 90px;
  }

  .mainday .info-wethear {
    font-size: 14px;
  }

  .nextdays .nextday-info .icon img {
    width: 40px;
  }

  .nextday-info .hourforecast,
  .nextday-info .temp {
    font-size: 14px;
  }

  .nextday-info .desc {
    font-size: 14px;
  }
}

@media only screen and (max-width: 480px) {
  .search-place input {
    width: 115px;
    height: 30px;
  }
  .content .mainday {
    padding: 25px;
  }
  .mainday .mainday-desc {
    font-size: 12px;
  }

  .mainday .hour {
    font-size: 25px;
  }

  .mainday .icon-mainday img {
    width: 60px;
  }

  .mainday .info-wethear {
    font-size: 12px;
  }

  .nextdays .nextday-info .icon img {
    width: 30px;
  }

  .nextday-info .hourforecast,
  .nextday-info .temp {
    font-size: 14px;
  }

  .nextday-info .desc {
    padding:0 6px;
    font-size: 11px;
  }
}